.hero-section {
    min-height: 500px;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url('/images/Gemini_Generated_Image_ma4pufma4pufma4p.jpg');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: white;
    max-width: 900px;
    padding: 40px;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}